@model IEnumerable<PPGrupo1.Models.MetodoPago>

@{
    ViewBag.Title = "Index";
}

<div class="custom">
    <h2>Condiciones de Pago</h2>
    <br />



    <div class="btn-text-left">
        <button type="button" class="btn"> @Html.ActionLink("Create New", "Create")</button>
    </div>

    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.US)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadDias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.US)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MetodoPagoId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MetodoPagoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MetodoPagoId })
                </td>
            </tr>
        }

    </table>
</div>